@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: "Gotham", sans-serif;
        src: url(./fonts/Gotham-Bold.otf) format('otf');
    }
}

body{
    background-color: black;
    color: white;
}